body {
    margin: 0;
    font-family: Arial;
    background:#FFFFF0
}

.header {
    background: #FF69B4;
    color: white;
    text-align: center;
    padding: 20px;
}

.home-button {
    text-align: center;
    margin: 20px;
}

.home-button button {
    padding: 10px 20px;
    border: none;
    background: #3498db;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.upload-box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.upload-box input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 90%;
}

.upload-box button {
    padding: 10px;
    width: 100%;
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}
